<strong class="name">{{@name}}</strong>
<span class="designer">{{@designer}}</span>
<span class="version">{{@version}}</span>

<button class="action-remove" type="button" {{action @onDelete}}>
  <svg
    height="26"
    viewBox="0 0 26 26"
    width="26"
    xmlns="http://www.w3.org/2000/svg"
  >
    <title>Remove</title>
    <path
      d="m13 26c-7.17970175 0-13-5.8202983-13-13 0-7.17970175 5.82029825-13 13-13 7.1797017 0 13 5.82029825 13 13 0 7.1797017-5.8202983 13-13 13zm1.4142136-13 4.9497474-4.94974747-1.4142135-1.41421356-4.9497475 4.94974743-4.94974747-4.94974743-1.41421356 1.41421356 4.94974743 4.94974747-4.94974743 4.9497475 1.41421356 1.4142135 4.94974747-4.9497474 4.9497475 4.9497474 1.4142135-1.4142135z"
    />
  </svg>
</button>

{{yield}}